.image{  
    
    position:relative;
    background-size: cover;
    background-position: center; 
    height:360px;  
   
} 

.cover{ 

    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;  


} 

.cover:hover{ 

    background:rgba(0,71,171,0.5);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    
}

.linkImage-widget-text{ 

    top: 50%;
    left: 50%;
    position: absolute;
    color: #fff;
    z-index: 5;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    transform: translate(-50%,-50%);
    font-size: 2em;
    text-transform: uppercase;

} 

/*calendar widget styles*/   

#calendar{ 

    background: #fff !important;
}  

.fc .fc-scroller-liquid-absolute {
    overflow: auto !important;
} 


.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0 !important;
    padding: 0.5em !important;
}

.fc-col-header{ 

    margin-bottom: 0 !important;  
    color: #000;
} 


.fc .fc-daygrid-day-number, .fc .fc-col-header-cell-cushion{
    
    color: #000;
}

ul#events-list { 

    margin: 0;
    padding: 10px;
} 

#events-list li{list-style: none;}  

#events-list li:nth-child(even) {  
    
    color: #979797;
    font-style: italic;
    margin-left: -13px;  
    font-size: 0.7em;
    padding: 7px;

}

#events-list li a{ 

    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}  



