body{ font-family: "audiowide",arial,sans-serif !important; }

.light-theme{ 

    background: #fff;
}  

.light-theme h1 a{ 

    color:#000; 
    text-decoration: none;
}

.dark-theme{ 

    background: #000;
} 

.dark-theme h1 a{ 

    color:#fff; 
    text-decoration: none;
} 

.site-tagline{ 

    color:grey; 
} 

