@media only screen and (max-width: 992px) {  

    nav.toggleNav .menu-primary-container {
        
        width: 100%;
    } 

    h1.site-header {
        font-size: 1.55em; 
    } 

    h2.site-tagline {
       
        font-size: 1.775em;
    } 
    
    
    }

    @media only screen and (max-width: 992px) {  


        #events-list li a { font-size: 1em; }

    } 

    @media only screen and (max-width: 764px) {  


        #events-list li a { font-size: 0.8em; } 

        #events-list li:nth-child(even) {
            
            margin-left: -13px;
            font-size: 0.6em; 
            padding: 5px;  
        }

    } 

    @media only screen and (max-width: 700px) {  


        ul#events-list {
            padding: 10px;
            padding-left: 0;
        }

        #events-list li a { font-size: 0.6em; } 
        
        #events-list li:nth-child(even) {
            
           display: none; 
        }

    } 